<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ocd.dev.glassmovieplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name="com.ocd.dev.glassmovieplayer.GlassApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_video_medium"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name="com.ocd.dev.glassmovieplayer.MoviePickerActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.ocd.dev.glassmovieplayer.MovieBucketBrowserActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
	            <action
	                android:name="com.google.android.glass.action.VOICE_TRIGGER" />
	        </intent-filter>
	        <meta-data android:name="com.google.android.glass.VoiceTrigger"
	            android:resource="@xml/voice_trigger_start" />            
        </activity>
        
        <activity
            android:name="com.ocd.dev.glassmovieplayer.MoviePlayerActivity"
            android:label="Video Player">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" /> 
            </intent-filter>
        </activity>
        
        <receiver
            android:name="com.ocd.dev.glassmovieplayer.LongPressBlocker">
            <intent-filter
                android:priority="9999">
                <action android:name="com.google.glass.action.LONG_TAP" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
